body {
	background-color: #2D3E50;

}

.navbar{
	background-color: #D81E28;
	background-image: none;
	margin-bottom: 0;
	opacity: 0.95;
}

a {
	color: white;
}

.logo {
	position:absolute;
	top:-2px;
	width:250px;
	height:50px;
}

.panel {
	float: left;
	width: 400px;
	height: 400px;
	margin-left: 10px;

}

