.navbar-pic{
	margin-right: 10px;
}

.navbar{
	background-color: #D81E28;
}

.sidebar-pic{
	margin: 10px;
}

.navbar .nav > li.dropdown.open > a
{
   color: #fff;
   background-color: #AD1515;
   border-color: #fff;
}

.container{
	width: 100%;
}

.col-md-2{
	
	min-height: 100px;
	background-color: white;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
	padding-bottom: 20px;
}

.col-md-6{
	
	min-height: 500px;
	background-color: white;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.col-md-3{
	min-height: 200px;
	background-color: white;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
	padding-bottom: 10px;
}

a {
	color: white;
}

.logo {
	position:absolute;
	bottom:-2px;
	width:250px;
	height:50px;
}

#calendar{
	margin-top:30px;
	margin-bottom:30px;
	margin-left:auto;
	margin-right:auto;
	width:auto;
	height:auto;
}


#logo{
	position:absolute;
	top:170px;
	left:70px; 
}