.navbar-pic{
	margin-right: 10px;
}

.navbar{
	background-color: #D81E28;
}

.sidebar-pic{
	margin: 10px;
}

.navbar .nav > li.dropdown.open > a
{
   color: #fff;
   background-color: #AD1515;
   border-color: #fff;
}

.container{
	width: 100%;
}


.col-md-3{
	min-height: 200px;
	background-color: white;
	padding-top: 1px;
	margin-bottom: 10px;
	border-radius: 3px;
}

a {
	color: white;
}

.logo {
	position:absolute;
	bottom:-2px;
	width:250px;
	height:50px;
}

#calendar{
	margin-top:30px;
	margin-bottom:30px;
	margin-left:auto;
	margin-right:auto;
	width:auto;
	height:auto;
}


#logo{
	position:absolute;
	top:170px;
	left:70px; 
}

[id^="togList1"],                        /* HIDE CHECKBOX */
[id^="togList1"] ~ .list1,                /* HIDE LIST */
[id^="togList1"] + label  span + span,   /* HIDE "Collapse" */
[id^="togList1"]:checked + label span{   /* HIDE "Expand" (IF CHECKED) */
	display:none;
}
[id^="togList1"]:checked + label span + span{
	display:inline-block;                 /* SHOW "Collapse" (IF CHECKED) */
}
[id^="togList1"]:checked ~ .list1{
	display:block;                        /* SHOW LIST (IF CHECKED) */
}


[id^="togList2"],                        /* HIDE CHECKBOX */
[id^="togList2"] ~ .list2,                /* HIDE LIST */
[id^="togList2"] + label  span + span,   /* HIDE "Collapse" */
[id^="togList2"]:checked + label span{   /* HIDE "Expand" (IF CHECKED) */
	display:none;
}
[id^="togList2"]:checked + label span + span{
	display:inline-block;                 /* SHOW "Collapse" (IF CHECKED) */
}
[id^="togList2"]:checked ~ .list2{
	display:block;                        /* SHOW LIST (IF CHECKED) */
}

[id^="togList3"],                        /* HIDE CHECKBOX */
[id^="togList3"] ~ .list3,                /* HIDE LIST */
[id^="togList3"] + label  span + span,   /* HIDE "Collapse" */
[id^="togList3"]:checked + label span{   /* HIDE "Expand" (IF CHECKED) */
	display:none;
}
[id^="togList3"]:checked + label span + span{
	display:inline-block;                 /* SHOW "Collapse" (IF CHECKED) */
}
[id^="togList3"]:checked ~ .list3{
	display:block;                        /* SHOW LIST (IF CHECKED) */
}