.navbar-pic{
	margin-right: 10px;
}

.navbar{
	background-color: #D81E28;
}

.sidebar-pic{
	margin: 10px;
}

.navbar .nav > li.dropdown.open > a
{
   color: #fff;
   background-color: #AD1515;
   border-color: #fff;
}

.container{
	width: 100%;
}


#addFood{
	top: 71px;
	height: 200px;
	background-color: white;
	float: none;
	margin: 0 auto;
	padding-top: 1px;
	margin-bottom: 10px;
	border-radius: 3px;
	margin-left: 15px;
}
#food{
	top: 71px;
	height: 200px;
	float: none;
	margin: 0 auto;
	padding-top: 1px;
	margin-bottom: 10px;
	border-radius: 3px;
	margin-left: 15px;
}

#addDist{
	position: absolute;
	top: 71px;
	left: 380px;
	height: 200px;
	background-color: white;
	float: none;
	margin: 0 auto;
	padding-top: 1px;
	margin-bottom: 10px;
	border-radius: 3px;
	margin-left: 15px;
}

#dist{
	position: absolute;
	top: 281px;
	left: 396px;
	height: 200px;
	float: none;
	margin: 0 auto;
	padding-top: 1px;
	margin-bottom: 10px;
	border-radius: 3px;
	margin-left: 15px;
}

#addRep{
	position: absolute;
	top: 71px;
	left: 750px;
	height: 200px;
	background-color: white;
	float: none;
	margin: 0 auto;
	padding-top: 1px;
	margin-bottom: 10px;
	border-radius: 3px;
	margin-left: 15px;
}

#rep{
	position: absolute;
	top: 281px;
	left: 766px;
	height: 200px;
	float: none;
	margin: 0 auto;
	padding-top: 1px;
	margin-bottom: 10px;
	border-radius: 3px;
	margin-left: 15px;
}

#addTime{
	position: absolute;
	margin-right: 100px;
	top: 71px;
	left: 1120px;
	height: 200px;
	background-color: white;
	float: none;
	padding-top: 1px;
	margin-bottom: 10px;
	border-radius: 3px;
	margin-left: 15px;
}

#time{
	position: absolute;
	top: 281px;
	left: 1135px;
	height: 200px;
	float: none;
	margin-right: 15px;
	padding-top: 1px;
	margin-bottom: 10px;
	border-radius: 3px;
	margin-left: 15px;
}

a {
	color: white;
}

.logo {
	position:absolute;
	bottom:-2px;
	width:250px;
	height:50px;
}

#calendar{
	margin-top:30px;
	margin-bottom:30px;
	margin-left:auto;
	margin-right:auto;
	width:auto;
	height:auto;
}


#logo{
	position:absolute;
	top:170px;
	left:70px; 
}

.bs-example{
	font-family: sans-serif;
	position: relative;
	margin: 20px;
}
.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 24px;
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 250px;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 250px;
}
.tt-suggestion {
	font-size: 24px;
	line-height: 24px;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}