.navbar-pic{
	margin-right: 10px;
}

.navbar{
	background-color: #D81E28;
}

.sidebar-pic{
	margin: 10px;
}

.navbar .nav > li.dropdown.open > a
{
   color: #fff;
   background-color: #AD1515;
   border-color: #fff;
}

.container{
	width: 100%;
}


.col-md-3{
	min-height: 200px;
	background-color: white;
	padding-top: 1px;
	margin-bottom: 10px;
	border-radius: 3px;
}

.col-md-5{
	height: 400px;
	overflow-y: auto;
	
}

::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}



a {
	color: white;
}

.logo {
	position:absolute;
	bottom:-2px;
	width:250px;
	height:50px;
}


#logo{
	position:absolute;
	top:170px;
	left:70px; 
}

.bs-example{
	font-family: sans-serif;
	position: relative;
	margin: 20px;
}
.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 24px;
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 396px;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 24px;
	line-height: 24px;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}