.navbar-pic{
	margin-right: 10px;
}

.navbar{
	background-color: #D81E28;
}

.sidebar-pic{
	margin: 10px;
}

.navbar .nav > li.dropdown.open > a
{
   color: #fff;
   background-color: #AD1515;
   border-color: #fff;
}

.container{
	width: 100%;
}

.col-md-2{
	width: 280px;
	height: 179px;
	background-color: white;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
	padding-bottom: 20px;
	overflow: hidden;
}

.col-md-3{
	position:absolute;
	top:260px;
	left:19px;
	background-color: white;
	width:280px;
	min-height: 200px;
	margin-left: 6px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
	padding-bottom: 10px;
}

.col-md-4{
	position:absolute;
	left:309px;
	background-color: white;
	width:280px;
	min-height: 200px;
	margin-left: 6px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
	padding-bottom: 10px;
}

.col-md-6{
	position:absolute;
	left:599px;
	width:500px;
	min-height: 543px;
	background-color: white;
	margin-left: 3px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
}

.col-md-3{
}

a {
	color: white;
}

.logo {
	position:absolute;
	bottom:-2px;
	width:250px;
	height:50px;
}

#calendar{
	margin-top:30px;
	margin-bottom:30px;
	margin-left:auto;
	margin-right:auto;
	width:auto;
	height:auto;
}


#logo{
	position:absolute;
	top:170px;
	left:70px; 
}

[id^="togList1"],                        /* HIDE CHECKBOX */
[id^="togList1"] ~ .list1,                /* HIDE LIST */
[id^="togList1"] + label  span + span,   /* HIDE "Collapse" */
[id^="togList1"]:checked + label span{   /* HIDE "Expand" (IF CHECKED) */
	display:none;
}
[id^="togList1"]:checked + label span + span{
	display:inline-block;                 /* SHOW "Collapse" (IF CHECKED) */
}
[id^="togList1"]:checked ~ .list1{
	display:block;                        /* SHOW LIST (IF CHECKED) */
}


[id^="togList2"],                        /* HIDE CHECKBOX */
[id^="togList2"] ~ .list2,                /* HIDE LIST */
[id^="togList2"] + label  span + span,   /* HIDE "Collapse" */
[id^="togList2"]:checked + label span{   /* HIDE "Expand" (IF CHECKED) */
	display:none;
}
[id^="togList2"]:checked + label span + span{
	display:inline-block;                 /* SHOW "Collapse" (IF CHECKED) */
}
[id^="togList2"]:checked ~ .list2{
	display:block;                        /* SHOW LIST (IF CHECKED) */
}

[id^="togList3"],                        /* HIDE CHECKBOX */
[id^="togList3"] ~ .list3,                /* HIDE LIST */
[id^="togList3"] + label  span + span,   /* HIDE "Collapse" */
[id^="togList3"]:checked + label span{   /* HIDE "Expand" (IF CHECKED) */
	display:none;
}
[id^="togList3"]:checked + label span + span{
	display:inline-block;                 /* SHOW "Collapse" (IF CHECKED) */
}
[id^="togList3"]:checked ~ .list3{
	display:block;                        /* SHOW LIST (IF CHECKED) */
}

[id^="togList4"],                        /* HIDE CHECKBOX */
[id^="togList4"] ~ .list4,                /* HIDE LIST */
[id^="togList4"] + label  span + span,   /* HIDE "Collapse" */
[id^="togList4"]:checked + label span{   /* HIDE "Expand" (IF CHECKED) */
	display:none;
}
[id^="togList4"]:checked + label span + span{
	display:inline-block;                 /* SHOW "Collapse" (IF CHECKED) */
}
[id^="togList4"]:checked ~ .list4{
	display:block;                        /* SHOW LIST (IF CHECKED) */
}

[id^="togList5"],                        /* HIDE CHECKBOX */
[id^="togList5"] ~ .list5,                /* HIDE LIST */
[id^="togList5"] + label  span + span,   /* HIDE "Collapse" */
[id^="togList5"]:checked + label span{   /* HIDE "Expand" (IF CHECKED) */
	display:none;
}
[id^="togList5"]:checked + label span + span{
	display:inline-block;                 /* SHOW "Collapse" (IF CHECKED) */
}
[id^="togList5"]:checked ~ .list5{
	display:block;                        /* SHOW LIST (IF CHECKED) */
}

.typeahead, .tt-query, .tt-hint {
	width: 80px;
}

.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 100px;
}